<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.SEG2505_Group8.mealer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mealer">
        <activity android:name=".UI.Activities.ComplaintActivity" />
        <activity android:name=".UI.Activities.RecipeActivity" />
        <activity android:name=".UI.Activities.RecipeFormActivity" />
        <activity android:name=".UI.Activities.ChooseUserTypeActivity" />
        <activity android:name=".UI.Activities.UserSignUpFormActivity" />
        <activity android:name=".UI.Activities.ChefSignUpFormActivity" />
        <activity android:name=".UI.Activities.SignInActivity" />
        <activity android:name=".UI.Activities.HomeActivity" />
        <activity android:name=".UI.Activities.SignInWithEmailActivity" />
        <activity
            android:name=".UI.Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>